*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #36827F;
  color: #ffffff;
}

header{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

button, select{
  padding: 5px 10px;
}

.main-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.container{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 500px;
  height: 500px;
}

.square{
  border: 1px solid rgb(255, 255, 255);
  background-color: #464D77;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.color{
  background-color: #F9DB6D;
}
