*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-wrapper{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7c7c7c;
}

.container{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 500px;
  height: 500px;
  background-color: #1d3222;
}

.square{
  width: calc(100% / 10);
  height: calc(100% / 10);
  border: 1px solid rgb(255, 255, 255);
  background-color: #6e989b;
}
